.searchbar .searchtag {
  background-color: alpha(currentColor, 0.1);
  border-radius: 100px;
}

.searchbar .searchtag > button {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
}

.tile {
  min-height: 50px;
  min-width: 200px;
}

.tile > box {
  margin: 6px 12px;
}

.tile .subtitle {
  font-size: smaller;
}

.tile .work {
  margin-top: 3px;
}

.tile .composer {
  font-size: smaller;
}

.tile .performances {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: smaller;
}

.playlist {
  background-color: rgba(0, 0, 0, 0);
}

.playlist > row {
  border-radius: 12px;
}

.playlisttile .title {
  font-weight: bold;
}

.playlisttile .subtitle {
  font-size: smaller;
}

.playlisttile .parttitle {
  font-size: smaller;
}