.playerbar .title {
  font-weight: bold;
}

.playerbar .subtitle {
  font-size: smaller;
}

.searchbar .searchtag {
  background-color: alpha(currentColor, 0.1);
  border-radius: 100px;
}

.searchbar .searchtag>button {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
}

.tile {
  min-height: 50px;
  min-width: 200px;
}

.tile>box {
  margin: 6px 12px;
}

.tile .subtitle {
  font-size: smaller;
}

.tile .work {
  margin-top: 3px;
}

.tile .composer {
  font-size: smaller;
}

.tile .performances {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: smaller;
}

.playlist {
  background-color: rgba(0, 0, 0, 0);
}

.playlist>row {
  border-radius: 12px;
}

.playlisttile .parttitle {
  font-style: italic;
}

.program-tile {
  padding: 12px;
  min-width: 200px;
}

.program-tile .title {
  margin-top: 6px;
  font-size: larger;
  font-weight: bold;
}

.program-design-button {
  min-width: 24px;
  min-height: 24px;
}

.program-design-button:checked {
  box-shadow: 0 0 0 3px var(--accent-bg-color);
}

.blue {
  color: white;
  background-color: var(--accent-blue);
}

.teal {
  color: white;
  background-color: var(--accent-teal);
}

.green {
  color: white;
  background-color: var(--accent-green);
}

.yellow {
  color: white;
  background-color: var(--accent-yellow);
}

.orange {
  color: white;
  background-color: var(--accent-orange);
}

.red {
  color: white;
  background-color: var(--accent-red);
}

.pink {
  color: white;
  background-color: var(--accent-pink);
}

.purple {
  color: white;
  background-color: var(--accent-purple);
}

.slate {
  color: white;
  background-color: var(--accent-slate);
}

.selector>contents {
  padding: 0;
}

.selector-list {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.selector-list>row {
  padding: 6px;
  border-radius: 6px;
}

.drag-handle {
  color: color-mix(in srgb, var(--window-fg-color) 40%, transparent);
}

.drag-handle:backdrop {
  color: color-mix(in srgb, var(--window-fg-color) 40%, transparent);
}

dragwidget {
  background-color: var(--card-bg-color);
  color: var(--card-fg-color);
  border: 1px solid rgba(0, 0, 6, 0.07);
}