.playerbar .title {
  font-weight: bold;
}

.playerbar .subtitle {
  font-size: smaller;
}

.searchbar .searchtag {
  background-color: alpha(currentColor, 0.1);
  border-radius: 100px;
}

.searchbar .searchtag>button {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
}

.tile {
  min-height: 50px;
  min-width: 200px;
}

.tile>box {
  margin: 6px 12px;
}

.tile .subtitle {
  font-size: smaller;
}

.tile .work {
  margin-top: 3px;
}

.tile .composer {
  font-size: smaller;
}

.tile .performances {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: smaller;
}

.playlist {
  background-color: rgba(0, 0, 0, 0);
}

.playlist>row {
  border-radius: 12px;
}

.playlisttile .title {
  font-weight: bold;
}

.playlisttile .subtitle {
  font-size: smaller;
}

.playlisttile .parttitle {
  font-size: smaller;
}

.program {
  padding: 12px;
  min-width: 200px;
}

.program .title {
  margin-top: 6px;
  font-size: larger;
  font-weight: bold;
}

.program.highlight {
  color: white;
  transition: transform 100ms;
}

.program.highlight.program1 {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}

.program.highlight.program2 {
  background: linear-gradient(145deg, #f12711, #f5af19);
}

.program.highlight.program3 {
  background: linear-gradient(-80deg, #ad5389, #3c1053);
}

.program.highlight.program4 {
  background: linear-gradient(140deg, #136797, #0b486b);
}

.program.highlight.program5 {
  background: linear-gradient(100deg, #6a9113, #141517);
}

.program.highlight.program6 {
  background: linear-gradient(120deg, #870000, #190a05);
}


.program.highlight:hover {
  transform: scale(1.01);
}

.program.highlight:active {
  transform: scale(0.99);
}

.selector>contents {
  padding: 0;
}

.selector-list {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.selector-list>row {
  padding: 6px;
  border-radius: 6px;
}

button.save {
  min-height: 48px;
  font-weight: 700;
  font-size: 11pt;
  color: var(--accent-color);
}