.playerbar .title {
  font-weight: bold;
}

.playerbar .subtitle {
  font-size: smaller;
}

.searchbar .searchtag {
  background-color: alpha(currentColor, 0.1);
  border-radius: 100px;
}

.searchbar .searchtag>button {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
}

.tile {
  min-height: 50px;
  min-width: 200px;
}

.tile>box {
  margin: 6px 12px;
}

.tile .subtitle {
  font-size: smaller;
}

.tile .work {
  margin-top: 3px;
}

.tile .composer {
  font-size: smaller;
}

.tile .performances {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: smaller;
}

.playlist {
  background-color: rgba(0, 0, 0, 0);
}

.playlist>row {
  border-radius: 12px;
}

.playlisttile .parttitle {
  font-style: italic;
}

.program-tile {
  padding: 12px;
  min-width: 200px;
  transition: transform 100ms;
}

.program-tile:hover {
  transform: scale(1.01);
}

.program-tile:active {
  transform: scale(0.99);
}

.program-tile .title {
  margin-top: 6px;
  font-size: larger;
  font-weight: bold;
}

.program-design-button {
  min-width: 24px;
  min-height: 24px;
}

.program-design-button:checked {
  box-shadow: 0 0 0 3px var(--accent-bg-color);
}

.program-1 {
  color: white;
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}

.program-2 {
  color: white;
  background: linear-gradient(145deg, #f12711, #f5af19);
}

.program-3 {
  color: white;
  background: linear-gradient(-80deg, #ad5389, #3c1053);
}

.program-4 {
  color: white;
  background: linear-gradient(140deg, #136797, #0b486b);
}

.program-5 {
  color: white;
  background: linear-gradient(100deg, #6a9113, #141517);
}

.program-6 {
  color: white;
  background: linear-gradient(120deg, #870000, #190a05);
}

.selector>contents {
  padding: 0;
}

.selector-list {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.selector-list>row {
  padding: 6px;
  border-radius: 6px;
}

.drag-handle {
  color: color-mix(in srgb, var(--window-fg-color) 40%, transparent);
}

.drag-handle:backdrop {
  color: color-mix(in srgb, var(--window-fg-color) 40%, transparent);
}

dragwidget {
  background-color: var(--card-bg-color);
  color: var(--card-fg-color);
  border: 1px solid rgba(0, 0, 6, 0.07);
}